.App {
  text-align: center;
  background-color: #fff;
  color: white;
  min-height: 100vh;
}


.Header {
  background-color: rgb(12, 113, 195);
  padding: 8px;
}

.footer {
  background-color: blue;
}

h1{
  margin : 0;
}

.main{
  display : flex;
  justify-content : center;

  flex-wrap : wrap;
  padding : 14px;

}

.Movie{
  background-color: rgb(219,212,212);
  color: black;
  border: 1px solid gray;
  padding : 3px;
  font-weight: bold;
  text-align: start;
  width: 22%;
  margin-top : 14px

}

.Movie img {
  height : 220px;
  width: 100%
}

